
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<body>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Counts of fetches per day</title>		
		
		<!-- 1. Add these JavaScript inclusions in the head of your page -->

		
		<!-- 3. Add the container -->
    <div class="row row-content" ng-controller="posti">
        <div id="container" style="width: 800px; height: 400px; margin: 3 auto"></div>
    </body>
       
</html>
